.specific-article {
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px;
  height: 150px;
  position: relative;
  color: #ed8b4b;
}

#content-article {
  position: relative;
  margin-top: -10px;
  color: black;
}
