.specific-article {
  text-align: center;
  background-color: #a7358b;
  display: block;
  margin: auto;
  padding: 10px;
  height: 150px;
  position: relative;
}

#background-override {
  background-color: #ed8b4b !important;
}
